@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Averia+Gruesa+Libre&family=Bebas+Neue&family=Passion+One:wght@400;700;900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Sriracha&display=swap');


* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}


header {
   
}

.logo a {
    color: white;
    text-decoration: none;
    font-size: 2em;
}

.navbar {
    background-color: #232536;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;
    padding-left: 10px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.292);
}

.nav-list {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: end;

}

.nav-itens {
    color: white;
    cursor: pointer;
    padding: 10px;
}

.nav-links {
        text-decoration: none;

}

.nav-itens:hover {
    background-color: #2f3247;
}

.button {
    height: 46px;
    width: 130px;
    font-size: 16px;
    padding: 6px;
    margin-top: 5px;
    font-weight: bolder;
    cursor: pointer;
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}

@media screen and (max-width: 730px) {
    .nav-itens {
        display: none;
    }

    .button {
        display: none;
    }

    .mobile-menu-icon {
        display: block;
    }

    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
        background-color: #232536;
    }

    .mobile-menu .nav-itens {
        display: block;
        padding-top: 1.2rem;
    }

    .mobile-menu .button {
        display: block;
        padding: 1rem 2rem;
    }

    .mobile-menu .nav-links button {
        width: 100%;
    }

    .open {
        display: block;
    }
}

.img-principal {
    background-image: url(../imagens/man-in-black-suit-wearing-eye-glasses-sitting-on-gray-sofa-using-macbook-3772622.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 720px;
    width: 100%;
}


.texto {
    padding-top: 115px;
    text-align: left;
    padding-left: 65px;
    color: white;  
    
}

.texto > h1 {
    font-size: 3.3em;
}

.texto p:first-child {
    font-family: 'roboto',sans-serif;
    font-size: 1.4em;
}

.texto a {
    color: #FFD050;
    text-decoration: none;
}

.texto button {
    color: #232536;
    background-color: #FFD050;
    margin-top: 40px;
    padding: 16px 48px;
    font-weight: bolder;
    border: none;
    cursor: pointer;
    font-size: 1em ;

}

.config-texto {
    margin-top: 5px;
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
    font-size: 1.1em ;
}

@media screen and (max-width: 1020px) {
    .img-principal {
        height: 360px;
    }
    
    .texto {
        padding-top: 57.5px;
        padding-left: 30px;

    }

    .texto p:first-child {
        font-size: 0.7em;
    }

    .texto > h1 {
        font-size: 1.3em;
    }

    .config-texto {
        margin-top: -3px;
        font-size: 9px;
        line-height: 15px;
        font-weight: 400;
    
    }

    .texto button {
        margin-top: 20px;
        padding: 8px 24px;
        font-size: 0.5em ;
    
    }
}