@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Averia+Gruesa+Libre&family=Bebas+Neue&family=Passion+One:wght@400;700;900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Sriracha&display=swap');


* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100vh;
    overflow-x: hidden;
}



.logo a {
    color: white;
    text-decoration: none;
    font-size: 2em;
}

.navbar {
    background-color: #232536;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;
    padding-left: 10px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.292);
}

.nav-list {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: end;

}

.nav-itens {
    color: white;
    cursor: pointer;
    padding: 10px;
}

.nav-links {
    text-decoration: none;
    color: white;

}

.nav-itens:hover {
    background-color: #2f3247;
}

.button {
    height: 46px;
    width: 130px;
    font-size: 16px;
    padding: 6px;
    margin-top: 5px;
    font-weight: bolder;
    cursor: pointer;
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}

@media screen and (max-width: 730px) {
    .nav-itens {
        display: none;
    }

    .button {
        display: none;
    }

    .mobile-menu-icon {
        display: block;
    }

    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
        background-color: #232536;
    }

    .mobile-menu .nav-itens {
        display: block;
        padding-top: 1.2rem;
    }

    .mobile-menu .button {
        display: block;
        padding: 1rem 2rem;
    }

    .mobile-menu .nav-links button {
        width: 100%;
    }

    .open {
        display: block;
    }
}

.img-principal {
    background-image: url(../imagens/man-in-black-suit-wearing-eye-glasses-sitting-on-gray-sofa-using-macbook-3772622.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 720px;
    width: 100%;
}


.texto {
    padding-top: 115px;
    text-align: left;
    padding-left: 65px;
    color: white;  
    
}

.texto > h1 {
    font-size: 3.3em;
}

.texto p:first-child {
    font-family: 'roboto',sans-serif;
    font-size: 1.4em;
}

.texto a {
    color: #FFD050;
    text-decoration: none;
}

.texto button {
    color: #232536;
    background-color: #FFD050;
    margin-top: 40px;
    padding: 16px 48px;
    font-weight: bolder;
    border: none;
    cursor: pointer;
    font-size: 1em ;

}

.config-texto {
    margin-top: 5px;
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
    font-size: 1.1em ;
}

.container-flex {
    display: flex;
    flex-direction: row;
    height: 804px;
    width: 1283px;
    padding: 70px 35px;
}

.item-flex-1 h2 {
    padding: 25px 25px 45px 25px;
    
}

.item-flex-1 img {
    width: 669px;
    height: 352px;
    margin-left: 48px;
}

.item-flex-1 button {
    color: #232536;
    background-color: #FFD050;
    margin-top: 25px;
    margin-left: 48px;
    padding: 16px 48px;
    font-weight: bolder;
    border: none;
    cursor: pointer;
    font-size: 1em ;
}

.item-flex-1 h3 {
    width:630px ;
    font-size: 24px;
    margin-left: 48px;
    padding: 8px 0px 8px 0px;
}


.item-flex-1 p {
    line-height: 28px;
    width: 551px;
    font-size: 17px;
    margin-left: 48px;
    padding: 8px 0px 8px 0px;
}

.item-flex-2 {
    margin-left: 250px;
}

.item-flex-2 h2 {
    padding: 25px 25px 45px 25px;
}

.item-flex-2 div > a {
    width: 350px;
    text-decoration: none;
    line-height: 30px;
}

.item-flex-2 div {
    padding: 20px;
}

.item-flex-2 div:hover {
    background-color: #FBF6EA;
}

.item-flex-2 a > p:first-child {
    color:#4C4C4C ;
    font-size: 15px;
    font-weight: 500;
}

.item-flex-2 a > p {
    color:#232536 ;
    width: 350px;
    font-weight: 700;
    font-size: 24px;
}

.outline {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 86px;
}

.border-1 {
    width: 843px;
    height: 23px;
    background-color: #FFD050;
}

.border-2 {
    width: 283px;
    height: 23px;
    background-color: #592EA9;
}

.container-text {
    display: flex;
    flex-direction: row;
    height: 500px;
    width: 1280px;
    margin-left: 86px;
    background-color: #F4F0F8;
    margin-bottom: 70px;
    
}

#text1 {
    padding: 50px 25px 50px 25px;
    margin-top: 50px;
    margin-left: 50px;
    
}

#text1 p:first-child {
    font-size: 16px;
    line-height: 20px;
    padding-bottom: 20px;
}

#text1 h2 {
    width: 560px;
    font-size: 36px;
    line-height: 48px;
}

#text1 p {
    font-size: 16px;
    line-height: 28px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#text1 a {
    font-size: 16px;
    line-height: 32px;
    text-decoration: none;
    font-weight: 700;
    color: #592EA9;
}

#text2 {
    padding: 50px 25px 50px 25px;
    margin-top: 50px;
    margin-left: 25px;
}

#text2 p:first-child {
    font-size: 16px;
    line-height: 20px;
    padding-bottom: 20px;
}

#text2 h3 {
    width: 481px;
    font-size: 28px;
    line-height: 40px;
    font-weight: 700;
}

#text2 p {
    font-size: 16px;
    line-height: 28px;
    padding-top: 10px;
}

.titulo-two {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
}

.container-icon {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    margin-top: 30px;
}

.item-icon {
    width: 296px;
    height: 228px;
    border: solid 1px #6D6E76 ;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.266);

}

.item-icon img {
    width: 48px;
    height: 48px;
    margin-left: 25px;
    margin-top: 15px;
    border-radius: 5px;
    background-color: #FBF6EA;
}

.item-icon h3 {
    color: #232536;
    font-weight: 700;
    padding-top: 30px;
    padding-left: 25px;
    font-size: 28px;
    line-height: 40px;
}

.item-icon p {
    color: #6D6E76;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    padding-left: 25px;
    width: 232px;
}

.item-icon:hover {
    background-color: #FFD050;
}

.img-secundaria {
    background-image: url(../imagens/close-up-photography-of-man-wearing-sunglasses-1212984.png);
    display: flex;
    align-items: end;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 100px;
    margin-left: 86px;
    margin-bottom: 100px;
    width: 949px;
    height: 705px;
}

.texto-secundaria {
    width: 706px;
    height: 465px;
    padding: 50px;
    background-color: white;
    margin-left: 575px;
    padding-left: 70px;
    padding-top: 70px;

}

.texto-secundaria p:first-child {
    font-size: 16px;
    line-height: 20px;
    padding-bottom: 20px;
    font-weight: 600;
    
}

.texto-secundaria h2 {
    width: 575px;
    font-size: 48px;
    line-height: 64px;
    font-weight: 700;
}

.texto-secundaria p {
    padding-top: 10px;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
}

.texto-secundaria button {
    color: #232536;
    background-color: #FFD050;
    margin-top: 25px;
    padding: 16px 48px;
    font-weight: bolder;
    border: none;
    cursor: pointer;
    font-size: 1em ;
}

.container-card {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    margin-top: 30px;
    margin-left: 25px;
    margin-right: 25px
}

.card {
    background-color: #F4F4F4;
    text-align: center;
    width: 296px;
    height: 324px;
    padding: 50px;
    padding-bottom: 0px;
}

.card h3 {
    width: 250px;
    padding-top: 10px;
    font-size: 28px;
    font-weight: 700;
    line-height: 40px;
}

.card p {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}

.card img {
    margin-top: 10px;
    margin-left: 10px;
}

.img-card{
    width: 128px;
    height: 128px;
}

.card:hover {
    background-color:#FBF6EA ;
}

.logo-flex {
    width: 1237px;
    margin-left: 86px;
    display: flex;
    margin-top: 100px;
    margin-bottom: 100px;
    justify-content: space-between;
}

.box-flex {
    display: flex;
    justify-content: center;
    background-color: #FBF6EA;
    width: 1280px;
    height: 464px;
    margin-left: 86px;
    margin-bottom: 100px;
}

.conteudo {
    margin: 100px;
}

.conteudo p:first-child {
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
}

.conteudo h2 {
    width: 300px;
    font-size: 36px;
    line-height: 48px;
    font-weight: 700;
}

.conteudo p {
    width: 349px;
    padding-top: 10px;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
}

.conteudo-2 {
    border-left: solid 1px black;
    height: 310px;
    margin: 90px 90px 90px 25px;
}

.conteudo-2 > h4:first-child {
    display: block;
    width: 450px;
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    margin-left: 100px;
   
}

.conteudo-2 > img  {
    width: 48px;
    height: 48px;
    margin-left: 100px;
    margin-top: 120px;
}

.conteudo-2 div {
    display: inline-block;
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
   
}

.conteudo-2 div > h4 {
    margin-left: 10px;
}

.conteudo-2 p {
    display: inline;
    font-size: 16px;
    line-height: 28px;
    margin-left: 10px;

}

.btn-seta-1 {
    display: inline-block;
    margin-left: 200px;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    border: none;
    background-color:white;
}
.btn-seta-2 {
    display: inline-block;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    border: none;
    background-color:white;
}

.btn-seta-1:hover {
    background-color: #232536;
    transition: .5s; 
   
}

.btn-seta-1 > img:hover {
    filter: invert(1);
    transition: .5s; 
} 

.btn-seta-2:hover {
    background-color: #232536;
    transition: .5s; 
   
}

.btn-seta-2 > img:hover {
    filter: invert(1);
    transition: .5s; 
} 

.text-center {
    width: 414px;
    height: 256px;
    margin: auto;
    text-align: center;
    margin-bottom: 100px;
}

.text-center h2 {
    width: 450px;
    font-size: 36px;
    font-weight: 700;
}

.text-center p {
    margin-top: 10px;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

.text-center button {
    color: #232536;
    background-color: #FFD050;
    margin-top: 25px;
    padding: 16px 48px;
    font-weight: bolder;
    border: none;
    cursor: pointer;
    font-size: 1em ;
}

footer {
    padding: 25px;
    height: 560px;
    background-color: #232536;
}

.navbar_footer {
    background-color: #232536;
    height: 80px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 50px;
}

.footer_nav_list {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: end;
}

.footer_nav_itens {
    color: white;
    cursor: pointer;
    padding: 10px;
}

.footer_nav_links {
    text-decoration: none;
    color: white;
}

.footer_nav_itens:hover {
    background-color: #2f3247;
}

.conteudo_footer {
    width: 1280px;
    height: 256px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 80px;
    margin-top: 50px;
    flex-direction: row;
    background-color: #2f3247;
    padding: 25px 15px 25px 15px;
}

.conteudo_footer h2 {
    color: white;
    width: 600px;
    font-size: 36px ;
    line-height: 48px;
    font-weight: 700;
}

.conteudo_footer input {
    width: 323px;
    height: 56px;
    border: 1px solid #4C4C4C;
    background-color: #2f3247;
    color: #6D6E76;
    padding-left: 20px;
}

.conteudo_footer label > button {
    color: #232536;
    background-color: #FFD050;
    padding: 16px 48px;
    font-weight: bolder;
    border: none;
    cursor: pointer;
    font-size: 1em ;
}

.footer_social {
    display: flex;
    justify-content: space-between;
    color:white;
    margin-top: 50px;
    margin-left: 80px;
    margin-right: 80px
}

.footer_social div > img {
    padding-left: 20px;
}

.footer_social div > p {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
}

@media screen and (max-width: 730px) {
    .img-principal {
        height: 360px;
    }
    
    .texto {
        padding-top: 57.5px;
        padding-left: 30px;

    }

    .texto p:first-child {
        font-size: 0.7em;
    }

    .texto > h1 {
        font-size: 1.3em;
    }

    .config-texto {
        margin-top: -3px;
        font-size: 9px;
        line-height: 15px;
        font-weight: 400;
    
    }

    .texto button {
        margin-top: 20px;
        padding: 8px 24px;
        font-size: 0.5em ;
    
    }

    .container-flex {
        flex-direction: column;
    }

    .item-flex-1 h2 {
       display: none;
        
    }
    
    .item-flex-1 img {
        display: none;
    }
    
    .item-flex-1 button {
        display: none;
    }
    
    .item-flex-1 h3 {
        display: none;
    }
    
    
    .item-flex-1 p {
        display: none;
    }
    
    .item-flex-2 {
        display: none;
    }
    
    .item-flex-2 h2 {
        display: none;
    }
    
    .item-flex-2 div > a {
        display: none;
    }
    
    .item-flex-2 div {
        display: none;
    }
    
    .item-flex-2 div:hover {
        display: none;
    }
    
    .item-flex-2 a > p:first-child {
        display: none;
    }
    
    .item-flex-2 a > p {
        display: none;
    }
    
    .outline {
        display: none;
    }
    
    .border-1 {
        display: none;
    }
    
    .border-2 {
        display: none;
    }
    
    .container-text {
        display: none;
        
    }
    
    #text1 {
        display: none;
        
    }
    
    #text1 p:first-child {
        display: none;
    }
    
    #text1 h2 {
        display: none;
    }
    
    #text1 p {
        display: none;
    }
    
    #text1 a {
        display: none;
    }
    
    #text2 {
        display: none;
    }
    
    #text2 p:first-child {
        display: none;
    }
    
    #text2 h3 {
        display: none;
    }
    
    #text2 p {
        display: none;
    }
    
    .titulo-two {
        display: none;
    }
    
    .container-icon {
        display: none;
    }
    
    .item-icon {
        display: none;
    }
    
    .item-icon img {
        display: none;
    }
    
    .item-icon h3 {
        display: none;
    }
    
    .item-icon p {
        display: none;
    }
    
    .item-icon:hover {
        display: none;
    }
    
    .img-secundaria {
        display: none;
    }
    
    .texto-secundaria {
        display: none;
    
    }
    
    .texto-secundaria p:first-child {
        display: none;
        
    }
    
    .texto-secundaria h2 {
        display: none;
    }
    
    .texto-secundaria p {
        display: none;
    }
    
    .texto-secundaria button {
        display: none;
    }
    
    .container-card {
        display: none;
    }
    
    .card {
        display: none;
    }
    
    .card h3 {
        display: none;
    }
    
    .card p {
        display: none;
    }
    
    .card img {
        display: none;
    }
    
    .img-card{
        display: none;
    }
    
    .card:hover {
        display: none;
    }
    
    .logo-flex {
        display: none;
    }
    
    .box-flex {
        display: none;
    }
    
    .conteudo {
        display: none;
    }
    
    .conteudo p:first-child {
        display: none;
    }
    
    .conteudo h2 {
        display: none;
    }
    
    .conteudo p {
        display: none;
    }
    
    .conteudo-2 {
        display: none;
    }
    
    .conteudo-2 > h4:first-child {
        display: none;
       
    }
    
    .conteudo-2 > img  {
        display: none;
    }
    
    .conteudo-2 div {
        display: none;
       
    }
    
    .conteudo-2 div > h4 {
        display: none;
    }
    
    .conteudo-2 p {
        display: none;
    
    }
    
    .btn-seta-1 {
        display: none;
    }
    .btn-seta-2 {
        display: none;
    }
    
    .btn-seta-1:hover {
        display: none;
       
    }
    
    .btn-seta-1 > img:hover {
        display: none;
    } 
    
    .btn-seta-2:hover {
        display: none;
       
    }
    
    .btn-seta-2 > img:hover {
        display: none;
    } 
    
    .text-center {
        display: none;
    }
    
    .text-center h2 {
        display: none;
    }
    
    .text-center p {
        display: none;
    }
    
    .text-center button {
        display: none;
    }
    
    footer {
        display: none;
    }
    
    .navbar_footer {
        display: none;
    }
    
    .footer_nav_list {
        display: none;
    }
    
    .footer_nav_itens {
        display: none;
    }
    
    .footer_nav_links {
        display: none;
    }
    
    .footer_nav_itens:hover {
        display: none;
    }
    
    .conteudo_footer {
        display: none;
    }
    
    .conteudo_footer h2 {
        display: none;
    }
    
    .conteudo_footer input {
        display: none;
    }
    
    .conteudo_footer label > button {
        display: none;
    }
    
    .footer_social {
        display: none;
    }
    
    .footer_social div > img {
        display: none;
    }
    
    .footer_social div > p {
        display: none;
    }
    

}
