@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Averia+Gruesa+Libre&family=Bebas+Neue&family=Passion+One:wght@400;700;900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Sriracha&display=swap');


* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}



.logo a {
    color: white;
    text-decoration: none;
    font-size: 2em;
}

.navbar {
    background-color: #232536;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;
    padding-left: 10px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.292);
}

.nav-list {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: end;

}

.nav-itens {
    color: white;
    cursor: pointer;
    padding: 10px;
}

.nav-links {
        text-decoration: none;

}

.nav-itens:hover {
    background-color: #2f3247;
}

.button {
    height: 46px;
    width: 130px;
    font-size: 16px;
    padding: 6px;
    margin-top: 5px;
    font-weight: bolder;
    cursor: pointer;
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}

@media screen and (max-width: 730px) {
    .nav-itens {
        display: none;
    }

    .button {
        display: none;
    }

    .mobile-menu-icon {
        display: block;
    }

    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
        background-color: #232536;
    }

    .mobile-menu .nav-itens {
        display: block;
        padding-top: 1.2rem;
    }

    .mobile-menu .button {
        display: block;
        padding: 1rem 2rem;
    }

    .mobile-menu .nav-links button {
        width: 100%;
    }

    .open {
        display: block;
    }
}

.img-principal {
    background-image: url(../imagens/man-in-black-suit-wearing-eye-glasses-sitting-on-gray-sofa-using-macbook-3772622.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 720px;
    width: 100%;
}


.texto {
    padding-top: 115px;
    text-align: left;
    padding-left: 65px;
    color: white;  
    
}

.texto > h1 {
    font-size: 3.3em;
}

.texto p:first-child {
    font-family: 'roboto',sans-serif;
    font-size: 1.4em;
}

.texto a {
    color: #FFD050;
    text-decoration: none;
}

.texto button {
    color: #232536;
    background-color: #FFD050;
    margin-top: 40px;
    padding: 16px 48px;
    font-weight: bolder;
    border: none;
    cursor: pointer;
    font-size: 1em ;

}

.config-texto {
    margin-top: 5px;
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
    font-size: 1.1em ;
}

.container-flex {
    display: flex;
    flex-direction: row;
    height: 804px;
    width: 1283px;
    padding: 70px 35px;
}

.item-flex-1 h2 {
    padding: 25px 25px 45px 25px;
    
}

.item-flex-1 img {
    width: 669px;
    height: 352px;
    margin-left: 48px;
}

.item-flex-1 button {
    color: #232536;
    background-color: #FFD050;
    margin-top: 25px;
    margin-left: 48px;
    padding: 16px 48px;
    font-weight: bolder;
    border: none;
    cursor: pointer;
    font-size: 1em ;
}

.item-flex-1 h3 {
    width:630px ;
    font-size: 24px;
    margin-left: 48px;
    padding: 8px 0px 8px 0px;
}


.item-flex-1 p {
    line-height: 28px;
    width: 551px;
    font-size: 17px;
    margin-left: 48px;
    padding: 8px 0px 8px 0px;
}

.item-flex-2 {
    margin-left: 250px;
}

.item-flex-2 h2 {
    padding: 25px 25px 45px 25px;
}

.item-flex-2 div > a {
    width: 350px;
    text-decoration: none;
    line-height: 30px;
}

.item-flex-2 div {
    padding: 20px;
}

.item-flex-2 div:hover {
    background-color: #FBF6EA;
}

.item-flex-2 a > p:first-child {
    color:#4C4C4C ;
    font-size: 15px;
    font-weight: 500;
}

.item-flex-2 a > p {
    color:#232536 ;
    width: 350px;
    font-weight: 700;
    font-size: 24px;
}

.outline {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 86px;
}

.border-1 {
    width: 843px;
    height: 23px;
    background-color: #FFD050;
}

.border-2 {
    width: 283px;
    height: 23px;
    background-color: #592EA9;
}

.container-text {
    display: flex;
    flex-direction: row;
    height: 500px;
    width: 1280px;
    margin-left: 86px;
    background-color: #F4F0F8;
    margin-bottom: 70px;
    
}

#text1 {
    padding: 50px 25px 50px 25px;
    margin-top: 50px;
    margin-left: 50px;
    
}

#text1 p:first-child {
    font-size: 16px;
    line-height: 20px;
    padding-bottom: 20px;
}

#text1 h2 {
    width: 560px;
    font-size: 36px;
    line-height: 48px;
}

#text1 p {
    font-size: 16px;
    line-height: 28px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#text1 a {
    font-size: 16px;
    line-height: 32px;
    text-decoration: none;
    font-weight: 700;
    color: #592EA9;
}

#text2 {
    padding: 50px 25px 50px 25px;
    margin-top: 50px;
    margin-left: 25px;
}

#text2 p:first-child {
    font-size: 16px;
    line-height: 20px;
    padding-bottom: 20px;
}

#text2 h3 {
    width: 481px;
    font-size: 28px;
    line-height: 40px;
    font-weight: 700;
}

#text2 p {
    font-size: 16px;
    line-height: 28px;
    padding-top: 10px;
}

#titulo-icon {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
}

.container-icon {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    margin-top: 30px;
}

.item-icon {
    width: 296px;
    height: 228px;
    border: solid 1px #6D6E76 ;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.266);

}

.item-icon img {
    width: 48px;
    height: 48px;
    margin-left: 25px;
    margin-top: 15px;
    background-color: #FBF6EA;
}

.item-icon h3 {
    color: #232536;
    font-weight: 700;
    padding-top: 30px;
    padding-left: 25px;
    font-size: 28px;
    line-height: 40px;
}

.item-icon p {
    color: #6D6E76;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    padding-left: 25px;
    width: 232px;
}

.img-secundaria {
    background-image: url(/imagens/close-up-photography-of-man-wearing-sunglasses-1212984.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 949px;
    height: 705px;
}



















@media screen and (max-width: 1020px) {
    .img-principal {
        height: 360px;
    }
    
    .texto {
        padding-top: 57.5px;
        padding-left: 30px;

    }

    .texto p:first-child {
        font-size: 0.7em;
    }

    .texto > h1 {
        font-size: 1.3em;
    }

    .config-texto {
        margin-top: -3px;
        font-size: 9px;
        line-height: 15px;
        font-weight: 400;
    
    }

    .texto button {
        margin-top: 20px;
        padding: 8px 24px;
        font-size: 0.5em ;
    
    }

    .container-flex {
        flex-direction: column;
    }


}