@charset "UTF-8";


* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}


header  {
    background-color: #232536;
    height: 80px;
}

.navbar  li a {
    list-style-type: none;
    text-decoration: none;
}

.navbar > ul > li {
    display: inline-block ;
    padding: 10px;
   
}

.navbar > ul > li:hover {
    background-color: #353853;

}

.navbar > ul > li > a  {
    color: white;
    
}

.button {
    height: 46px;
    width: 130px;
    font-size: 16px;
    padding: 6px;
    margin-top: 5px;
    font-weight: bolder;
    cursor: pointer;
}